* {
    background-color: #f0ffff;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #2f4f4f;
    font-size: 32px;
    
}

.form input {
    width: 50%;
    margin-bottom: 6px;
    padding: 3px;
    border-radius: 6px;
    background-color: #ffffff;
}

form input::placeholder {
    color: #2f4f4f;
    text-align: center;
}

.form button {
    margin-bottom: 30px;
    border-radius: 6px;
    background-color: #2f4f4f;
    color: #f0ffff;
    font-weight: bold;
    padding: 5px 30px;
}

.table {
    margin: auto;
    background-color: none;
    color: #2f4f4f;
    border-radius: 6px;
    padding: 1px 15px;
}